
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;  
   
}
.dark_mode{
    background-color: black;
    .tasks {
        border-radius: 5px;
        background: #25273D;
        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
        color: #C8CBE7;     
    }
    .hh{
        border-radius: 5px;
        background: #25273D;
        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
        color: #C8CBE7;     
        border: none;
    }
    .FooterCHild{ border-radius: 5px;
        background: #25273D;
        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.50);
        color: #C8CBE7;     
        border: none;

    }
    .row{
        background: #393A4B;
        color: #393A4B
    }
}

.tasks{
    margin-top: 100px;
}
.App{
    background-image: url('./images/dark-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
}
.tasks{
    width: 327px;
    height: 368px;
    flex-shrink: 0;border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    margin-top: 25px;
}
.hh{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50); 
    width: 327px;
height: 48px;
flex-shrink: 0;
margin-top: 100px;
}
.todoHeader{
    color: white;
    letter-spacing: 10px;
    position: absolute;
    margin: 20px;
    top: 30px;

}
.afterTodo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
.todo_item{
display: flex;
align-items: center;
justify-content: center;

}
.todo_item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
    text-align: center;
    
}
.divTask{
    display: flex;
    gap: 10px;
  
}
.deleteButton{
    border: none;
  font-size: 20px;
  background-color: transparent;
  color: grey;
}
.tasks{
    overflow-y: auto;
    max-height: 368px;;
    
}
.todoFooter{
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 16px;
    gap: 50px;
    color: grey;
    font-weight: 700;
    position: absolute;
    margin-top: 700px;
}
.hh::placeholder {
     
    padding-left: 20px;
     font-size: 17px;

  }
.FooterCHild{
    position: absolute;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: grey;
    font-weight: 700;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.50);
    width: 327px;
height: 48px;
flex-shrink: 0;
}
.row{
   margin-top: 10px;
   width: 100%;
height: 1px;
border: none;
background-color: #E3E4F1;
color: #E3E4F1;
}
.toggleButton{
    position: absolute;
    margin-top: -250px;
    margin-left: 340px;
        background-color: transparent;
        border: none;
}
.hh::placeholder {
    margin-left: 40px;
}
@media(width > 900px) {
    .hh{
        width: 540px;
height: 64px;
flex-shrink: 0;
margin-top: 150px;
    }
    .tasks{
        width: 540px;
        
        flex-shrink: 0;
    }
    .todoFooter{
        gap: 400px;
        font-size: 13px;
    }
    .FooterCHild{
        margin-top: -100px;
        background-color: transparent;
    }
    .pFooter{
        position: absolute;
        margin-top: -83px;
        margin-left: -400px;
    }
    .pFooter1
    {
        position: absolute;
        margin-top: -83px;
        margin-left: 460px;
        width: 200px;
    }
    .todoHeader{
        margin-left: 500px;
    }
    .toggleButton{margin-left: 1000px;}
   
}
